g.gene-annotations rect.border {
  fill: none;
  stroke-width: 0.5;
  stroke: blue;
}
g.gene-annotations .gene-annotation polygon {
  fill: #3366FF;
  stroke: black;
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
}
g.gene-annotations .gene-annotation text {
  font-family: sans-serif;
  cursor: pointer;
  fill: gray;
}
g.gene-annotations .gene-annotation line {
  stroke: #666;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
g.gene-annotations .gene-annotation path.link {
  fill: none;
  stroke: black;
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
}
g.gene-annotations .gene-annotation:hover polygon,
g.gene-annotations .gene-annotation:hover path.link {
  stroke-width: 1;
}
g.gene-annotations .gene-annotation:hover line {
  stroke-width: 1.5;
}
g.gene-annotations .gene-annotation:hover text {
  fill: black;
}
g.gene-annotations .gene-annotation.selected polygon,
g.gene-annotations .gene-annotation.selected path.link,
g.gene-annotations .gene-annotation.selected line {
  stroke-width: 2;
}
g.qtl-annotations rect.border {
  fill: none;
  stroke-width: 0.5;
  stroke: red;
}
g.qtl-annotations .qtl-annotation text {
  font-family: sans-serif;
  text-anchor: center;
}
g.qtl-annotations .qtl-annotation line {
  stroke: #666;
  stroke-width: 1;
  stroke-dasharray: 1 1 ;
  vector-effect: non-scaling-stroke;
}
g.qtl-annotations .qtl-annotation path.link {
  fill: none;
  stroke: black;
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
}
.snp-annotation {
  cursor: pointer;
}
g.gene-annotation-group line,
g.qtl-annotation-group line {
  stroke: #666;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
g.gene-annotation-group rect.border,
g.qtl-annotation-group rect.border {
  fill: none;
  stroke-width: 0.5;
  stroke: #000;
}
g.gene-annotation-group text,
g.qtl-annotation-group text {
  font-family: sans-serif;
  cursor: pointer;
}
g.gene-annotation-group .gene_annotation polygon,
g.qtl-annotation-group .gene_annotation polygon {
  fill: #3366FF;
  stroke: black;
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
}
g.gene-annotation-group .gene_annotation text,
g.qtl-annotation-group .gene_annotation text {
  text-anchor: center;
}
g.gene-annotation-group .gene_annotation path.link,
g.qtl-annotation-group .gene_annotation path.link {
  fill: none;
  stroke: black;
  stroke-width: 0.5;
  vector-effect: non-scaling-stroke;
}
g.gene-annotation-group .gene_annotation:hover polygon,
g.qtl-annotation-group .gene_annotation:hover polygon,
g.gene-annotation-group .gene_annotation:hover path.link,
g.qtl-annotation-group .gene_annotation:hover path.link {
  stroke-width: 1;
}
g.gene-annotation-group .gene_annotation:hover line,
g.qtl-annotation-group .gene_annotation:hover line {
  stroke-width: 1.5;
}
g.gene-annotation-group .gene_annotation.selected polygon,
g.qtl-annotation-group .gene_annotation.selected polygon,
g.gene-annotation-group .gene_annotation.selected path.link,
g.qtl-annotation-group .gene_annotation.selected path.link,
g.gene-annotation-group .gene_annotation.selected line,
g.qtl-annotation-group .gene_annotation.selected line {
  stroke-width: 2;
}
g.gene-annotation-group .qtl_annotation rect.qtl-selector,
g.qtl-annotation-group .qtl_annotation rect.qtl-selector {
  stroke: none;
  stroke-width: 1;
  vector-effect: 'non-scaling-stroke';
}
g.gene-annotation-group .qtl_annotation text,
g.qtl-annotation-group .qtl_annotation text {
  text-anchor: middle;
}
